@import "//cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css";
@import "https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/css/bulma-carousel.min.css";
@import "~bulma-carousel/dist/css/bulma-carousel.min.css";
@import "/src/styles.scss";

carousel {
    background-color: $netflix-black;
}
.modal-card-title {
  font-weight: bold;
}
.modal-card, .modal-card-head, .modal-card-body, .modal-card-foot {
  background-color: #212121 !important;
}
.play {
  background-color: $netflix-black;
  color: $netflix-red !important;
  font-weight: bold;
}
// .carousel-arrow {
//     background-color: $netflix-red !important;
// }

// [_nghost-iyc-c16] .carousel-arrow[_ngcontent-iyc-c16] {
//     background-color: $netflix-red !important;
// }

.fix-background {
  z-index: auto;
}
