<p>carousel works!</p>

<section class="section">
    <div class="container">
        <!-- Start Carousel -->
        <div id="carousel-demo" class="carousel">
            <div class="item-1">
                <!-- Slide Content -->
                <p>Slide 1</p>
                <img src="./assets/netflix-icon.svg">
            </div>
            <div class="item-2">
                <!-- Slide Content -->
                <p>Slide 2</p>
                <img src="./assets/netflix-icon.svg">
            </div>
            <div class="item-3">
                <!-- Slide Content -->
                <p>Slide 3</p>
                <img src="./assets/netflix.svg">
            </div>
            <div class="item-4">
                <!-- Slide Content -->
                <p>Slide 4</p>
                <img src="./assets/netflix.jpg">
            </div>
        </div>
        <!-- End Carousel -->
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/js/bulma-carousel.min.js"></script>
<script>
    bulmaCarousel.attach('#carousel-demo', {
        slidesToScroll: 1,
        slidesToShow: 4
    });
</script>
<script src="~bulma-carousel/dist/js/bulma-carousel.min.js"></script>
