<carousel>
  <div class="carousel-cell">
    <img src="./assets/netflix-icon.svg">
  </div>
  <div class="carousel-cell">
    <img src="./assets/netflix-icon.svg">
  </div>
  <div class="carousel-cell">
    <img src="./assets/netflix.svg">
  </div>
  <div class="carousel-cell">
    <img src="./assets/netflix.jpg">
  </div>
  <div class="carousel-cell">
    <img src="./assets/netflix-icon.svg">
  </div>
  <div class="carousel-cell">
    <img src="./assets/netflix-icon.svg">
  </div>
  <div class="carousel-cell">
    <img src="./assets/netflix.svg">
  </div>
  <div class="carousel-cell">
    <img src="./assets/netflix.jpg">
  </div>
  <div class="carousel-cell">
    <img src="./assets/netflix-icon.svg">
  </div>
  <div class="carousel-cell">
    <img src="./assets/netflix-icon.svg">
  </div>
</carousel>
