<footer>
    <div class="column"></div>
    <div class="columns">
        <div class="column is-4"></div>
        <div class="column is-1">
            <a class="fbicon" href="https://facebook.com">
                <img src="/assets/FbIcon.png" width="30" height="30">
            </a>
            <a class="fbicon" href="https://instagram.com">
                <img src="/assets/InstaIcon.png" width="30" height="30"> 
            </a>
            <a class="fbicon" href="https://twitter.com">
                <img src="/assets/TwitterIcon.png" width="30" height="30"> 
            </a>
            <a class="fbicon" href="https://youtube.com">
                <img src="/assets/YtIcon.png" width="30" height="30"> 
            </a>
        </div>
        <div class="column is-1"></div>
        <div class="column is-1"></div>
        <div class="column is-1"></div>
        <div class="column is-4"></div>
    </div>
    <div class="columns">
        <div class="column is-4"></div>
            <div class="column is-1"><a href="">Audio et sous-titre</a></div> 
            <div class="column is-1"><a href="">Audiodescription</a></div>
            <div class="column is-1"><a href="">Centre d'aide</a></div>
            <div class="column is-1"><a href="">Cartes cadeaux</a></div>
            <div class="column is-4"></div>
    </div>
    <div class="columns">
        <div class="column is-4"></div>
            <div class="column is-1"><a href="">Presse</a></div>
            <div class="column is-1"><a href="">Relations Investisseurs</a></div>
            <div class="column is-1"><a href="">Recrutement</a></div>
            <div class="column is-1"><a href="">Conditions d'utilisations</a></div>
            <div class="column is-4"></div>
    </div>
    <div class="columns">
        <div class="column is-4"></div>
            <div class="column is-1"><a href="">Confidentialité</a></div>
            <div class="column is-1"><a href="">Informations légales</a></div>
            <div class="column is-1"><a href="">Préférence de cookies</a></div>
            <div class="column is-1"><a href="">Mentions légales</a></div>
            <div class="column is-4"></div>
    </div>
    <div class="columns">
        <div class="column is-4"></div>
        <div class="column is-1"><a href="">Nous contacter</a></div>
            <div class="column is-1"><a href=""></a></div>
            <div class="column is-1"><a href=""></a></div>
            <div class="column is-1"><a href=""></a></div>
            <div class="column is-4"></div>
    </div>

    <script>
        let myElement = document.getElementById("BtCodeService");
        myElement.onclick = function() {
            document.getElementById("BtCodeService").innerText = 'chaussure';
        }
    </script>

    <div class="columns">
        <div class="column is-4"></div>
        <div class="column is-1">
            <!-- <button type="button" id="BtCodeService" class="CodeDeService" onclick="ChangeText()">Code de service</button> -->
            <button type="submit" id="BtCodeService" class="CodeDeService" (click)="ChangeText()" >Code de service</button>

        </div>
        <div class="column is-1"></div>
        <div class="column is-1"></div>
        <div class="column is-1"></div>
        <div class="column is-4"></div>
    </div>
    <div class="columns">
        <div class="column is-4"></div>
        <div class="column is-2">© 1997-2020 Netflix, Inc. i-048f379b3d73f0a32</div>
        <div class="column is-1"></div>
        <div class="column is-1"></div>
        <div class="column is-1"></div>
        <div class="column is-4"></div>
    </div>
</footer>
