@import "src/variables";

footer {
    padding: 5px;
    background-color: $netflix-black;
    color: $netflix-white;
    bottom: 0;
    position: absolute;
    height: 400px;
    width: 100%;
}
a{
    margin-right: 15px;
    background-color: $netflix-black;
    color : $netflix-white;
}
button{
    background-color: $netflix-black;
    color: $netflix-white;
}
