footer {
    padding: 5px;
    background-color: #141414;
    color: #E5E5E5;
    bottom: 0;
    // position: absolute;
    height: 400px;
    width: 100%;
}
a{
    margin-right: 15px;
    background-color: #141414;
    color : #E5E5E5;
}
button{
    background-color: #141414;
    color: #E5E5E5;
}