@import "src/variables";

footer {
    padding: 5px;
    background-color: $netflix-black;
    color: red !important;
    position: absolute;
    height: 400px;
    width: 100%;
    font-size: 12px;
}
a{
    margin-right: 15px;
    background-color: $netflix-black;
    color : $netflix-white;
}
button{
    background-color: $netflix-black;
    color: $netflix-white;
}