<!-- <header-->
  <nav class="navbar" style="background-color: rgb(14, 14, 14); height: 68px;">
    <!-- logo -->
    <div class="navbar-brand">
      <a href="" class="navbar-item">
        <img src="https://cdn.svgporn.com/logos/netflix.svg">
      </a>
    </div>
    <!-- menu -->
    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">Accueil</a>
        <a class="navbar-item">Série</a>
        <a class="navbar-item">Films</a>
        <a class="navbar-item">Nouveautés</a>
        <a class="navbar-item">Ma liste</a>
      </div>
      <div class="navbar-start">
        <a class="navbar-item">Rechercher</a>
        <a class="navbar-item">Jeunesse</a>
      </div>
    </div>
  </nav>