@import "/src/styles.scss";

$navbar-height: 68px;
$navbar-padding: 50px;
$navbar-item-font-size: 14px;
$navbar-item-hover-color: lightgrey;
$dropdown-item-hover-background-color:$netflix-black;

.navbar {
  background-color: $netflix-black;
  height: $navbar-height;
  padding: 0px $navbar-padding;
  height: 80px;
}

.navbar-brand {
  padding-right: $navbar-padding;
}

.navbar-item {
  color: white;
  font-size: $navbar-item-font-size;
  height: $navbar-height;
}

.navbar-item:hover {
  background-color: $netflix-black !important;
  color: $navbar-item-hover-color !important;
  outline: none !important;
}

.box-right {
  float: left;
}

#magnifying-glass {
  height: 100%;
  margin-left: 14px;
  padding: 5px;
}

.search-bar input{
  background-color: black;
  color: white !important;
  width: 190px;
}

.search-bar input:focus{
  border-color: lightgrey;
}

.search-bar input::placeholder {
  color: gray;
}

.svg-dark {
  filter: invert(90%);
}

.profile {
  margin-left: 5px;
}

#profile-arrow {
  height: 8px !important;
  margin: 5px 0px 0px 7px;
}

.navbar-dropdown{
  width: 160px;
  margin-top: 6px;
  margin-left: -100px;
  background-color: $netflix-black;
  opacity: 95%;
  border-radius: 0px;
}

// .navbar-dropdown *:hover{
//   background-color:red;
// }

.navbar-divider {
  height: 1px;
}

#image-profile{
  border-radius: 5px;
}
a.navbar-link::after{
  color: blanchedalmond !important;
}
