<!-- header-->
<nav class="navbar" style="background-color: rgb(14, 14, 14); height: 70px;">
  <!-- logo -->
  <div class="navbar-brand">
    <a href="" class="navbar-item">
      <img src="https://cdn.svgporn.com/logos/netflix.svg">
    </a>
  </div>
  <!-- menu -->
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink=""><strong>Accueil</strong></a>
      <a class="navbar-item" routerLink="">Série</a>
      <a class="navbar-item" routerLink="">Films</a>
      <a class="navbar-item" routerLink="">Nouveautés</a>
      <a class="navbar-item" routerLink="">Ma liste</a>
    </div>
  </div>
</nav>
