<app-header></app-header>
<h1 class="pt-4 pb-2">Les films à découvrir</h1>
<app-carousel [listFilm]="listFilmDiscover"></app-carousel>
<h1 class="pt-4 pb-2">Les mieux notés</h1>
<app-carousel [listFilm]="listFilmPopular"></app-carousel>
<h1 class="pt-4 pb-2">Les films à venir</h1>
<app-carousel [listFilm]="listFilmUpcoming"></app-carousel>
<h1>Les favoris</h1>
<app-carousel [listFilm]=""></app-carousel>

<h1 class="pt-4 pb-2">Action</h1>
<app-carousel [listFilm]="listFilmAction"></app-carousel>
<h1 class="pt-4 pb-2">Aventure</h1>
<app-carousel [listFilm]="listFilmAventure"></app-carousel>
<h1 class="pt-4 pb-2">Animation</h1>
<app-carousel [listFilm]="listFilmAnimation"></app-carousel>
<h1 class="pt-4 pb-2">Comédie</h1>
<app-carousel [listFilm]="listFilmComedie"></app-carousel>
<h1 class="pt-4 pb-2">Crime</h1>
<app-carousel [listFilm]="listFilmCrime"></app-carousel>
<h1 class="pt-4 pb-2">Documentaire</h1>
<app-carousel [listFilm]="listFilmDocumentaire"></app-carousel>
<h1 class="pt-4 pb-2">Drame</h1>
<app-carousel [listFilm]="listFilmDrame"></app-carousel>
<h1 class="pt-4 pb-2">Familial</h1>
<app-carousel [listFilm]="listFilmFamilial"></app-carousel>
<h1 class="pt-4 pb-2">Fantastique</h1>
<app-carousel [listFilm]="listFilmFantastique"></app-carousel>
<h1 class="pt-4 pb-2">Histoire</h1>
<app-carousel [listFilm]="listFilmHistoire"></app-carousel>
<h1 class="pt-4 pb-2">Horreur</h1>
<app-carousel [listFilm]="listFilmHorreur"></app-carousel>
<h1 class="pt-4 pb-2">Musique</h1>
<app-carousel [listFilm]="listFilmUpMusique"></app-carousel>
<h1 class="pt-4 pb-2">Mystère</h1>
<app-carousel [listFilm]="listFilmMystere"></app-carousel>
<h1 class="pt-4 pb-2">Romance</h1>
<app-carousel [listFilm]="listFilmRomance"></app-carousel>
<h1 class="pt-4 pb-2">Science-Fiction</h1>
<app-carousel [listFilm]="listFilmSF"></app-carousel>
<h1 class="pt-4 pb-2">Téléfilm</h1>
<app-carousel [listFilm]="listFilmTelefilm"></app-carousel>
<h1 class="pt-4 pb-2">Thriller</h1>
<app-carousel [listFilm]="listFilmThriller"></app-carousel>
<h1 class="pt-4 pb-2">Guerre</h1>
<app-carousel [listFilm]="listFilmGuerre"></app-carousel>
<h1 class="pt-4 pb-2">Western</h1>
<app-carousel [listFilm]="listFilmWestern"></app-carousel>
<app-footer></app-footer>
