<section class="column fond">
  <div class="column is-3 voile" >
    <div>
      <label class="">S'identifier</label>
    </div>
    <div>
      <input [(ngModel)]="email" type="text" name="userLoginId" class="" id="id_userLoginId" autocomplete placeholder="Votre adresse mail" required>
    </div>

    <div>
      <input [(ngModel)]="password" type="password" name="password" class="" id="id_password" autocomplete placeholder="Mot de passe" required>
    </div>

    <div>
      <button (click)="login(this.email, this.password)" class="button btcolor">S'identifier</button>
    </div>

    <div>
        <button (click)="signInWithGoogle()" class="button btcolor">Inscription avec Google</button>
    </div>

    <div>
      <button (click)="loginWithGoogle()" class="button btcolor">Connexion avec Google</button>
    </div>

    <div>
      <button (click)="signIn(this.email, this.password)" class="button btcolor">S'inscrire</button>
    </div>

    <div>
      <label class="checkbox is-vertical-center">
        <input type="checkbox">
        Se souvenir de moi
      </label>
    </div>

  </div>
</section>
