<!-- <section class="fond">
    <div class="voile" > -->
        <div class="is-centered">
            <fieldset>
                <!-- <legend>Choose your favorite monster</legend> -->
                <label>S'identifier <br> </label>
                <!-- <input type="text" id="email" name="identification"> -->
                <input #userLoginId type="text" data-uia="login-field" name="userLoginId" class="nfTextField error" id="id_userLoginId" value="" tabindex="0" autocomplete="email" placeholder="Votre adresse mail" dir="">
                <br/>
            
                <!-- <input type="text" id="mdp" name="identification"><br/> -->
                <input #password type="password" data-uia="password-field" name="password" class="nfTextField error" id="id_password" value="" tabindex="0" autocomplete="Mot de passe" placeholder="Mot de passe" dir="">
                <br>
                <button (click)="login(userLoginId.value, password.value)" type="submit" class="button btcolor">Envoyer</button>
                <!-- <input type="button" id="submit" name="monster"> -->
                <br>

                <input type="checkbox" >
              </fieldset>
        </div>
    <!-- </div>
</section> -->

<button (click)="loginGoogle()" class="btn btn-primary">Connexion avec Google</button>
