<section class="column fond">
  <div class="column is-2 voile" >
      <div>
        <label class="">S'identifier</label>
      </div>
      <div>
        <input type="text" name="userLoginId" class="textfield" id="id_userLoginId" autocomplete placeholder="Votre adresse mail">
      </div>

      <div>
        <input type="password" name="password" class="textfield" id="id_password" autocomplete placeholder="Mot de passe">
      </div>
      <div class="pb-2" >
        <button type="submit" class="button btcolor">S'identifier</button>
      </div>

      <div>
        <button (click)="login()" class="button btcolor">Connexion avec Google</button>
      </div>

      <div>
        <label class="checkbox is-vertical-center">
          <input type="checkbox">
          Se souvenir de moi
        </label>
      </div>
    </div>
</section>