/* You can add global styles to this file, and also import other style files */
@import "~bulma/css/bulma.css";
<<<<<<< HEAD
@import "~bootstrap/dist/css/bootstrap.min.css";

=======
@import '~bootstrap/scss/bootstrap';
>>>>>>> origin/commun

$netflix-black: #141414;
$netflix-red: #E50914;

* {
  color: #ffffff !important;
}

.navbar-brand{
    padding-left: 50px;
    padding-right: 50px;
}

.navbar.start{
    // padding-right: 50px;
}
.navbar-item{
    font-family: Helvetica,Arial,sans-serif;
    color: #ffffff;
    font-size: 14px;
}
